if info && info.length
  .alert.alert-info
    button(class='close' type='button' data-dismiss='alert') ×
    ul
      for inf in info
        li #{ inf }

if errors && errors.length
  .alert.alert-danger
    button(class='close' type='button' data-dismiss='alert') ×
    ul
      for error in errors
        li #{ error }

if success && success.length
  .alert.alert-success
    button(class ='close' type='button' data-dismiss='alert') ×
    ul
      for succ in success
        li #{ succ }

if warning && warning.length
  .alert.alert-warning
    button(class='close' type='button' data-dismiss='alert') ×
    ul
      for warn in warning
        li #{ warn }
