doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
  body
    - if (messages.error)
      .message
        pre= messages.error
    if user
      a(href='/logout') Logout
    block content
