extends ../layout

block content
  form(role='form', action="/bots/new", method="post")
    .form-input
      input(type='text', name="title", placeholder='Enter Title')
    .form-input
      input(type='text', name="accessToken", placeholder='accessToken')
    .form-input
      input(type='text', name="frequency", placeholder='frequency')
    .form-input
      input(type='text', name="channel", placeholder='channel')
    .form-input
      label
        input(type='checkbox', name="businessDays", value="1")
        .label-text Business Days?
    button(type='submit') Create

    a(href='/bots')
      button(type="button") Cancel
