extends ../layout

block content
  h1= bot.title
  p
    strong channel:
    = bot.channel.name
  p
    strong frequency:
    = bot.frequency
  p
    strong business days:
    if bot.businessDays
      | Yes
    else
      | No
  a(href='/bots/edit/#{bot.id}') Edit
